body {
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 0 15px;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.navbar .menu a.active {
    color: #FF0000;
}

.navbar .menu a:hover {
    color: #FF0000;
}

.navbar .github {
    font-size: 24px;
    color: #ffffff;
}

.profile {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile .text {
    text-align: left;
}

.profile .text h1 {
    font-size: 48px;
    margin: 0;
}

.profile .text p {
    font-size: 18px;
    margin: 10px 0 0;
}

.profile .image {
    border: 5px solid #FF0000;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 20px #FF0000;
    width: 220px;
    height: 220px;
}

.profile .image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
